<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<div class="row">
  <% @listings.each do |listing| %>
    <%= render 'card', listing: listing %>
  <% end %>
</div>

<br>

<%= link_to 'New Listing', new_listing_path %>
