<p id="notice"><%= notice %></p>

<h1>Listings</h1>
<br>
<div class="row">
  <% @listings.each do |listing| %>
    <% if listing.order == nil %>
      <%= render 'card', listing: listing, class: 'col-3' %>
    <% end %>
  <% end %>
</div>